<html>
<head>
<title>Buse and Gizem's blog</title>
</head>
<body>
<div>
<h1><a href="">Django Girls Blog</a></h1>
</div>
<div>
<p>published: 28.04.208, 15:40</p>
<h2><a href="">İlk Blogumuz</a></h2>
<p>Çok heyecanlıyız! Bu bizim ilk blogumuz. Ne kadar zevkli bir işmiş bilgisayarlarla uğraşmak. Hata çıkmadı diye ağlayan ilk insanlar biz miyiz? </p>
</div>
<div>
<p>published: 28.04.2018, 15:45</p>
<h2><a href="">İkinci gönderi</a></h2>
<p>Bir varmış bir yokmuş, evvel zaman içinde kalbur saman içinde, develer tellal iken, pireler berber iken; ben annemin beşiğini tıngır
mıngır sallar iken.</p>
</div>
</body>
</html>